<section class="content-sec">
  <!-- Use a media query to show the shorter word when mobile screen is too small. -->
  <h1 class="mob-title f1 lh-solid mt0 helvetica">Intro</h1>
  <h1 class="pc-title f1 lh-solid mt0 helvetica">Introduction</h1>
  <ul class="sq-li">
    <li>
      <a href="/resources/resume.pdf" target="_blank">resum&eacute;</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gradey-cullins-738b2045?trk=nav_responsive_tab_profile_pic" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/GradeyCullins" target="_blank">Github</a>
    </li>
    <li>
      <a href="mailto:gradeycullins@gmail.com">email</a>
    </li>
    <li>
      <a href="http://localhost:8081">blog</a>
    </li>
  </ul>
  <p>
    Welcome to my website. I recently graduated from the
    <a href="http://www.utah.edu/" target="_blank">University of Utah</a>
    with a B.S. in computer science.
  </p>
  <p>
    I am currently employed by
    <a href="https://hoodoo.digital/" target="_blank">Hoodoo Digital</a>
    as a software developer, where I mostly write JavaScripts.
  </p>
  <p>Some of my interests include: cryptocurrencies, computer networking, computer games, fitness and nutrition, and
    world events.
  </p>
  <p>
    What got me hooked me into web programming and computer networking is the story of Ross Ulbricht, the
    inventor of the Silk Road. I highly recommend reading Wired's
    <a target="_blank" href="https://www.wired.com/2015/04/silk-road-1/">writeup</a> on his story if you want to
    learn more.
  </p>
  <div>
    <span id="starship-img-btn">
      <a class="f6 link w-75 dim ba ph3 pv2 mb2 dib black pc-title starship-img-btn" href="#0">Would you like to know more?</a>
      <a class="f6 link dim ba ph3 pv2 mb2 dib black mob-title starship-img-btn tc" href="#0">Learn more?</a>
    </span>
    <img class="img-hide meme" id="starship-img" src="/img/desire_to_know_more_intensifies.gif" alt="">
  </div>
</section>