<section class="content-sec">
  <h1 class="f-subheadline-ns f1 helvetica lh-solid mt0 mb3">
    <small class="f2-ns f3 db">Welcome To</small>
    gc
    <br>
    (DOT)
    <br>
    com
  </h1>
  <ul class="pl4 f4 pl0-ns pl3 lst-square lsp-outside">
    <li>
      <a href="/static/resume.pdf" target="_blank">resum&eacute;</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gradey-cullins-738b2045?trk=nav_responsive_tab_profile_pic" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/GradeyCullins" target="_blank">Github</a>
    </li>
    <li>
      <a href="mailto:gradeycullins@gmail.com">email</a>
    </li>
    <li>
      <a id="blog-link" target="blank">blog</a>
    </li>
  </ul>
  <p>
    Hello, I am a computer programmer with a degree in Computer Science from the
    <a href="http://www.utah.edu/" target="_blank">University of Utah</a>.
  </p>
  <p>
   My last three or so years of professional experience found me mostly writing JavaScripts and Golang and pulling my hair out with Kubernetes and Docker. 
  </p>
  <p>I'm interested in: cryptocurrencies, computer networking, E-Sports, fitness and food, and
    world events. And memes.
  </p>

  <!-- Link to Ross story somewhere else -->
  <!-- <p>
    What got me hooked me into web programming and computer networking is the story of Ross Ulbricht, the
    inventor of the Silk Road. I highly recommend reading Wired's
    <a target="_blank" href="https://www.wired.com/2015/04/silk-road-1/">writeup</a> on his story if you want to
    learn more.
  </p> -->
  <div>
    <span id="starship-img-btn">
      <a class="f6 link w-75 dim ba ph3 pv2 mb2 dib black pc-title starship-img-btn" href="#0">Would you like to know more?</a>
      <a class="f6 link dim ba ph3 pv2 mb2 dib black mob-title starship-img-btn tc" href="#0">Learn more?</a>
    </span>
    <img class="img-hide meme" id="starship-img" src="/static/img/desire_to_know_more_intensifies.gif" alt="">
  </div>
</section>