<section class="content-sec">
  <h1 class="f1 lh-solid mt0 helvetica">Langs</h1>
  <p>
    I have years of experience developing in macOS, GNU/Linux, and Windows operating systems, with
    a preference for working in *nix OSes.
  </p>
  <p>
    School taught me early on that in order to work in this industry, one must never stop learning.
    With this principle in mind, I take an active interest in improving corolary programming skills to
    bolster my technical arsenal.
  </p>
  <ul>
    <li class="mb2">
      devops - containerization, deployment strategies and CICD pipelines
    </li>
    <li class="mb2">
      testing - unit, regression, integration, e2e testing and performance metrics
    </li>
    <li class="mb2">
      security - functional understanding of cryptographically secured protocols, auth flows, and
      server-side vs client-side security considerations
    </li>
  </ul>
  <p>
    Below is a non exhaustive list of programming languages that I have used in academic or
    professional settings ordered by time last used.
  </p>
  <!-- Ability with programming languages. -->
  <section>
    <ul>
      <li>JavaScript</li>
      <li>Golang</li>
      <li>Java</li>
      <li>C#</li>
      <li>Python</li>
      <li>Bash</li>
      <li>C++</li>
    </ul>
  </section>

</section>