<section class="content-sec">
  <h1 class="f1 lh-solid mt0 helvetica">Projects</h1>
  <section>
    My
    <a href="https://github.com/GradeyCullins" target="_blank">Github</a>
    is a good way to check out some of my recent projects.
    <p>Some of my recent projects:</p>
    <ul class="sq-li">
      <li>
        My senior capstone project called
        <a href="https://uofu-skybin.github.io/index.html" target="_blank">Skybin</a>,
        a peer-to-peer file storage system
        <ul>
          <li>I worked on the <a href="https://github.com/uofu-skybin/skybin-portal" target="_blank">front-end</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/GradeyCullins/GradeyCullins" target="_blank">This website</a>
      </li>
      <li>
        A multi-threaded
        <a href="https://github.com/GradeyCullins/QT-Server" target="_blank">web server</a>
        in c++
      </li>
    </ul>
  </section>
</section>