<section class="content-sec">
  <h1 class="f1 lh-solid mt0 helvetica">Projects</h1>
  <section>
    My
    <a href="https://github.com/GradeyCullins" target="_blank">Github</a>
    is a good way to check out some of my recent projects.
    <p>Some of my recent projects:</p>
    <ul class="sq-li">
      <li>
        <a href="https://github.com/GradeyCullins/purity-vision" target="_blank">Purity Vision</a>
        <ul>
          <li>A work-in-progress project that uses the Google Vision ML library to auto-remove any images on the web
            deemed to have sexually explicit content or gore.</li>
        </ul>
      </li>
      <li>
        <a href="https://uofu-skybin.github.io/index.html" target="_blank">Skybin</a>
        <ul>
          <li>
            A p2p file storage system for my senior capstone group project.
          </li>
        </ul>
        <ul>
          <li>I worked on the <a href="https://github.com/uofu-skybin/skybin-portal" target="_blank">front-end</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/GradeyCullins/GradeyCullins" target="_blank">This website</a>
      </li>
      <li>
        A multi-threaded
        <a href="https://github.com/GradeyCullins/QT-Server" target="_blank">web server</a>
        in c++
      </li>
    </ul>

    <!-- How I feel when I'm cooooooding. -->
    <span class="meme-btn">
      <a class="f6 link w-100 dim ba ph3 pv2 mb2 black pc-title bw1 tc dn dib-ns" href="#0">How I feel when I'm writing
        code</a>
      <a class="f6 link w-100 dim ba ph3 pv2 mb2 dib black mob-title bw1 tc dib dn-ns" href="#0">mfw coding</a>
    </span>
    <img class="img-hide w-100 meme-img" src="/static/img/how-i-feel.gif" alt="">

    <!-- What I'm actually doing xdxd -->
    <span class="meme-btn">
      <a class="f6 link w-100 dim ba ph3 pv2 mb2 black pc-title bw1 tc dn dib-ns" href="#0">What I'm actually doing</a>
      <a class="f6 link w-100 dim ba ph3 pv2 mb2 dib black mob-title bw1 tc dib dn-ns" href="#0">actually</a>
    </span>
    <img class="img-hide w-100 meme-img" src="/static/img/google.png" alt="">

  </section>
</section>