<section class="content-sec">
  <h1 class="f1 lh-solid mt0 helvetica">Skillset</h1>
  <p>
    I have years of experience developing in macOS, GNU/Linux, and Windows operating systems, with
    a preference for working in *nix OSes.
  </p>
  <p>
    School taught me early on that in order to work in this industry, one must never stop learning.
    With this principle in mind, I take an active interest in improving skills corolary to programming in order to bolster my technical arsenal.
  </p>
  <ul class="sq-li">
    <li class="mb2">
      devops - containerization, deployment strategies and CICD pipelines
    </li>
    <li class="mb2">
      testing - unit, regression, integration, e2e testing and performance metrics
    </li>
    <li class="mb2">
      security - functional understanding of cryptographically secured protocols, auth flows, and
      other server and client-side security considerations
    </li>
  </ul>
  <p>
    Below is a non exhaustive list of programming languages that I have used in academic or
    professional settings ordered by time last used.
  </p>
  <div class="flex">
    <div class="w-50">
      <ul class="list-square">
        <li>JavaScript</li>
        <li>Golang</li>
        <li>Bash</li>
        <li>C#</li>
      </ul>
    </div>
    <div class="w-10">
      <ul class="list-square">
        <li>Java</li>
        <li>Python</li>
        <li>C++</li>
      </ul>
    </div>
  </div>
</section>
