<section class="content-sec">
  <!-- Use a media query to show the shorter word when mobile screen is too small. -->
  <h1 class="mob-title f1 lh-solid mt0 helvetica">Thoughts on Tech</h1>
  <h1 class="pc-title f1 lh-solid mt0 helvetica">Thoughts on Technology</h1>
  <!-- Thoughts on JavaScript. -->
  <section>
    <h1 class="helvetica f4">JavaScript</h1>
    <p>
      When Brendan Eich invented Javascript back during the days of Netscape, everything changed.
      JavaScript is objectively the greatest programming language ever created.
    </p>

    <p>
      It combines the swiftness of
      untyped languages with functional programming features and a inheritance model that is so simple,
      your grandmother could learn it. You can run it in the browser, or as a web server, or as a desktop application
      that uses hardly any memory at all.
    </p>
    And the best of all is, there exists an online package registry containing
    literally thousands of libraries that do anything you could ever possibly imagine. Every one of these packages
    has been vetted by elite programmers from MIT and Stanford so you basically can't go wrong adding dependencies
    willy-nilly. Have fun! 🤡
    </p>
  </section>

  <!-- Editors and IDEs. -->
  <section class="mv4">
    <h1 class="helvetica f4">editors and IDEs</h1>
    <p>
      For day-to-day development I stick to VS Code. I find it offers a balanced middle ground between a bloated IDE
      like IntelliJ and a simple text editor like Nano. Extensions that mostly work, lots of updates, and runs
      reasonably quickly.
      If I'm editing something on a remote host I'll fire up trusty ole' Vim for a quick edit. The speed at which I
      can edit text files using common shortcuts is unrivaled. 
    </p>
  </section>

  <section class="mv4">
    <h1 class="helvetica f4">cryptocurrency</h1>
    <p>
      As a <strike>college student</strike> working stiff paying back student loans, I don't have the ability to make
      a lot of investments. One kind of investment that I make an exception for is
      <a href="https://splinternews.com/hey-idiots-youre-gonna-lose-all-your-money-on-bitcoin-1820805131"
        target="_blank">fake internet money</a> otherwise known as cryptocurrency.
      
      <h1 class="blinking">SHILL ALERT</h1>
      <div class="scroll-left ">
        <p class="shill-banner"></p>
      </div>

      <!-- Bitcoin proselytizing. -->
      <div class="mv4">
        <img class="coin-img di" src="/static/img/btc.png">
        <p class="di">
          I believe in Bitcoin because I don't believe in the financial system of the Western world.
          The release of Bitcoin marks an epoch in time that I believe will cause
          substantial ripples in the global economy within the foreseeable future. HODL.
        </p>
      </div>

      <!-- Monero shilling. -->
      <div class="mv4">
        <img class="coin-img di" src="/static/img/xmr.png">
        <p class="di">
          Monero offers key privacy enhancments over Bitcoin and benefits from a solid network effect 
          due to its prolific usage in dark web markets.
        </p>
      </div>

      <!-- Ambrosus shilling. -->
      <!-- <div class="mv4">
        <img class="coin-img di" src="/static/img/amb.png">
        <p class="di">
          Ambrosus offers a solution to the vastly complicated and flawed global food supply chains
          that directly affect the quality of food we consume. I care about the substances that I
          consume, therefore I care about this project.
        </p>
      </div> -->

      <!-- LINK shilling. -->
      <div class="mv4">
        <img class="coin-img di" src="/static/img/linker.png">
        <p class="di">
          Chainlink facilitates interaction between off-chain data sources and blockchain networks using the Oracle model. 
        </p>
      </div>

      <!-- BAT shilling. -->
      <div class="mv4">
        <img class="coin-img di" src="/static/img/bat.png">
        <p class="di">
          Some of the corporations that are the most harmful to privacy and personal freedoms are those which
          profit heavily from the advertisement industry. Advertisements in electronic form are overwhelmingly
          intrusive. Kill two birds with one stone – use BAT and the <a href="https://brave.com/" target="_blank">Brave browser</a>.
        </p>
      </div>

      <p>
        My opinion on the long-term viability of Bitcoin is as follows:
      </p>
      <blockquote>
        In a world plagued by inflation largely caused by irresponsible and malicious
        central banking and bloated government beauracracies,
        crytpocurrencies flourish while fiat currencies flounder. Backed by
        decentralized strength via blockchain, the economic robustness granted
        through a finite total possible supply of coin, and transparency through
        open source development, Bitcoin stands to disrupt global finance on a long
        enough timeline. Short the bankers, long BTC.
      </blockquote>
  </section>
</section>